section, header, footer {
    border: 1px solid grey;
    text-align: center;
  }
header {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #4479D9;
}

header h1 {
margin: 0;
}

header ul {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

header li {
margin-left: 20px;
}

.intro {
    height: 80vh;
    color: aqua;
    background-image: url("/img/3.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.intro h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.intro p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.service-items {
    flex-basis: 30%;
    height: 200px;
    margin-bottom: 20px;
    background-color: #ddd;
}
  
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-info, .services-footer, .contact {
    flex-basis: 30%;
    height: 300px;
    margin-bottom: 20px;
    background-color: #ddd;
}